<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <h1>
                <a href="<%= config.root %>" title="Home" alt="Home">
                    <lebal class="glyphicon glyphicon-th-list home"></lebal>
                </a>
                <a href="<%= url_for(page.path) %>" class="page-title"><%= page.title %></a>
                <small class="text-right">
                    <time datetime="<%= page.date %>">
                        <%= page.date.format(config.date_format) %>
                    </time>
                </small>
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row page" id="article">
        <%- page.content %>
    </div><!-- row -->
    <aside id="directory">
        <a href="/">Home</a>
    </aside>
    <%- partial('_partial/pagination', {item: page}) %>
</div>
<!-- 生成目录树 -->
<script src="<%- config.root %>js/tree.js" type="text/javascript"></script>
