<p>
    <% if (config.author){ %>
    <%= new Date().getFullYear() %>&nbsp;&copy;&nbsp;<%= config.author %>
    <% } else { %>
    <%= new Date().getFullYear() %>&nbsp;&copy;&nbsp;<%= config.title %>
    <% } %>. Theme by <a href="https://github.com/itaken/hexo-theme-wikiup/" title="Hexo-Theme-Wikiup" target="_blank">Wikiup</a>
</p>
<p><%- partial('google_analytics') %></p>
<script src="<%- config.root %>css/bootstrap-3.3.7/js/bootstrap.min.js"></script>
